<%= form_for(@quick_spec) do |f| %>
  <% if @quick_spec.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quick_spec.errors.count, "error") %> prohibited this quick_spec from being saved:</h2>

      <ul>
      <% @quick_spec.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :general_spec_id %><br>
    <%= f.number_field :general_spec_id %>
  </div>
  <div class="field">
    <%= f.label :oil_change_capacity %><br>
    <%= f.text_field :oil_change_capacity %>
  </div>
  <div class="field">
    <%= f.label :oil_with_filter_capacity %><br>
    <%= f.text_field :oil_with_filter_capacity %>
  </div>
  <div class="field">
    <%= f.label :oil_overhaul_capacity %><br>
    <%= f.text_field :oil_overhaul_capacity %>
  </div>
  <div class="field">
    <%= f.label :oil_weight %><br>
    <%= f.text_field :oil_weight %>
  </div>
  <div class="field">
    <%= f.label :oil_recommended %><br>
    <%= f.text_field :oil_recommended %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
