<p id="notice"><%= notice %></p>

<h1>Listing Quick Specs</h1>

<table>
  <thead>
    <tr>
      <th>General spec</th>
      <th>Oil change capacity</th>
      <th>Oil with filter capacity</th>
      <th>Oil overhaul capacity</th>
      <th>Oil weight</th>
      <th>Oil recommended</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quick_specs.each do |quick_spec| %>
      <tr>
        <td><%= quick_spec.general_spec_id %></td>
        <td><%= quick_spec.oil_change_capacity %></td>
        <td><%= quick_spec.oil_with_filter_capacity %></td>
        <td><%= quick_spec.oil_overhaul_capacity %></td>
        <td><%= quick_spec.oil_weight %></td>
        <td><%= quick_spec.oil_recommended %></td>
        <td><%= link_to 'Show', quick_spec %></td>
        <td><%= link_to 'Edit', edit_quick_spec_path(quick_spec) %></td>
        <td><%= link_to 'Destroy', quick_spec, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quick spec', new_quick_spec_path %>
