<p id="notice"><%= notice %></p>

<p>
  <strong>General spec:</strong>
  <%= @quick_spec.general_spec_id %>
</p>

<p>
  <strong>Oil change capacity:</strong>
  <%= @quick_spec.oil_change_capacity %>
</p>

<p>
  <strong>Oil with filter capacity:</strong>
  <%= @quick_spec.oil_with_filter_capacity %>
</p>

<p>
  <strong>Oil overhaul capacity:</strong>
  <%= @quick_spec.oil_overhaul_capacity %>
</p>

<p>
  <strong>Oil weight:</strong>
  <%= @quick_spec.oil_weight %>
</p>

<p>
  <strong>Oil recommended:</strong>
  <%= @quick_spec.oil_recommended %>
</p>

<%= link_to 'Edit', edit_quick_spec_path(@quick_spec) %> |
<%= link_to 'Back', quick_specs_path %>
