<% @page_title = 'Admin Menu' %>

<div class ="menu">
  <h2>Admin Menu</h2>
  <div class="identity"> Logged in as: <%= session[:username] %></div>
  <ul>
    <li><%= link_to 'Manage Vehicles', vehicles_path %></li>
    <li><%= link_to 'Manage Categories', categories_path %></li>
    <li><%= link_to 'Manage Manufacturers', manufacturers_path %></li>
    <li><%= link_to 'Manage Admin Users', admin_users_index_path %></li>
    <!--<li><%#= link_to 'Manage Users', user %></li>-->
    <!--TODO: Add Manage Users Section-->
    <li><%= link_to 'Manage Manufacturers', manufacturers_path %></li>
    <!--<li><%#= link_to("Manage Pages", :controller => 'pages') %></li>-->
    <!--<li><%#= link_to("Manage Sections", :controller => 'sections') %></li>-->
    <li><%= link_to("Logout", :action => 'logout') %></li>
  </ul>
</div>
