<%= form_for(@general_spec) do |f| %>
  <% if @general_spec.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@general_spec.errors.count, "error") %> prohibited this general_spec from being saved:</h2>

      <ul>
      <% @general_spec.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :manufacturer_id %><br>
    <%= f.number_field :manufacturer_id %>
  </div>
  <div class="field">
    <%= f.label :vehicle_id %><br>
    <%= f.number_field :vehicle_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :engine_type %><br>
    <%= f.text_field :engine_type %>
  </div>
  <div class="field">
    <%= f.label :engine_displacement %><br>
    <%= f.text_field :engine_displacement %>
  </div>
  <div class="field">
    <%= f.label :bore_stroke %><br>
    <%= f.text_field :bore_stroke %>
  </div>
  <div class="field">
    <%= f.label :cooling %><br>
    <%= f.text_field :cooling %>
  </div>
  <div class="field">
    <%= f.label :compression_ratio %><br>
    <%= f.text_field :compression_ratio %>
  </div>
  <div class="field">
    <%= f.label :fuel_system %><br>
    <%= f.text_field :fuel_system %>
  </div>
  <div class="field">
    <%= f.label :ignition %><br>
    <%= f.text_field :ignition %>
  </div>
  <div class="field">
    <%= f.label :starting_system %><br>
    <%= f.text_field :starting_system %>
  </div>
  <div class="field">
    <%= f.label :transmission %><br>
    <%= f.text_field :transmission %>
  </div>
  <div class="field">
    <%= f.label :final_drive %><br>
    <%= f.text_field :final_drive %>
  </div>
  <div class="field">
    <%= f.label :rake_trail %><br>
    <%= f.text_field :rake_trail %>
  </div>
  <div class="field">
    <%= f.label :seat_height %><br>
    <%= f.text_field :seat_height %>
  </div>
  <div class="field">
    <%= f.label :wheelbase %><br>
    <%= f.text_field :wheelbase %>
  </div>
  <div class="field">
    <%= f.label :front_suspension %><br>
    <%= f.text_field :front_suspension %>
  </div>
  <div class="field">
    <%= f.label :rear_suspension %><br>
    <%= f.text_field :rear_suspension %>
  </div>
  <div class="field">
    <%= f.label :front_brake %><br>
    <%= f.text_field :front_brake %>
  </div>
  <div class="field">
    <%= f.label :rear_brake %><br>
    <%= f.text_field :rear_brake %>
  </div>
  <div class="field">
    <%= f.label :front_tire %><br>
    <%= f.text_field :front_tire %>
  </div>
  <div class="field">
    <%= f.label :rear_tire %><br>
    <%= f.text_field :rear_tire %>
  </div>
  <div class="field">
    <%= f.label :fuel_capacity %><br>
    <%= f.text_field :fuel_capacity %>
  </div>
  <div class="field">
    <%= f.label :dry_weight %><br>
    <%= f.text_field :dry_weight %>
  </div>
  <div class="field">
    <%= f.label :msrp %><br>
    <%= f.number_field :msrp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
