<p id="notice"><%= notice %></p>

<h1>Listing General Specs</h1>

<table>
  <thead>
    <tr>
      <th>Manufacturer</th>
      <th>Vehicle</th>
      <th>Category</    th>
      <th>Engine type</th>
      <th>Engine displacement</th>
      <th>Bore stroke</th>
      <th>Cooling</th>
      <th>Compression ratio</th>
      <th>Fuel system</th>
      <th>Ignition</th>
      <th>Starting system</th>
      <th>Transmission</th>
      <th>Final drive</th>
      <th>Rake trail</th>
      <th>Seat height</th>
      <th>Wheelbase</th>
      <th>Front suspension</th>
      <th>Rear suspension</th>
      <th>Front brake</th>
      <th>Rear brake</th>
      <th>Front tire</th>
      <th>Rear tire</th>
      <th>Fuel capacity</th>
      <th>Dry weight</th>
      <th>Msrp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @general_specs.each do |general_spec| %>
      <tr>
        <td><%= general_spec.manufacturer_id %></td>
        <td><%= general_spec.vehicle_id %></td>
        <td><%= general_spec.category_id %></td>
        <td><%= general_spec.engine_type %></td>
        <td><%= general_spec.engine_displacement %></td>
        <td><%= general_spec.bore_stroke %></td>
        <td><%= general_spec.cooling %></td>
        <td><%= general_spec.compression_ratio %></td>
        <td><%= general_spec.fuel_system %></td>
        <td><%= general_spec.ignition %></td>
        <td><%= general_spec.starting_system %></td>
        <td><%= general_spec.transmission %></td>
        <td><%= general_spec.final_drive %></td>
        <td><%= general_spec.rake_trail %></td>
        <td><%= general_spec.seat_height %></td>
        <td><%= general_spec.wheelbase %></td>
        <td><%= general_spec.front_suspension %></td>
        <td><%= general_spec.rear_suspension %></td>
        <td><%= general_spec.front_brake %></td>
        <td><%= general_spec.rear_brake %></td>
        <td><%= general_spec.front_tire %></td>
        <td><%= general_spec.rear_tire %></td>
        <td><%= general_spec.fuel_capacity %></td>
        <td><%= general_spec.dry_weight %></td>
        <td><%= general_spec.msrp %></td>
        <td><%= link_to 'Show', general_spec %></td>
        <td><%= link_to 'Edit', edit_general_spec_path(general_spec) %></td>
        <td><%= link_to 'Destroy', general_spec, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New General spec', new_general_spec_path %>
