<p id="notice"><%= notice %></p>

<p>
  <strong>Manufacturer:</strong>
  <%= @general_spec.manufacturer_id %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @general_spec.vehicle_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @general_spec.category_id %>
</p>

<p>
  <strong>Engine type:</strong>
  <%= @general_spec.engine_type %>
</p>

<p>
  <strong>Engine displacement:</strong>
  <%= @general_spec.engine_displacement %>
</p>

<p>
  <strong>Bore stroke:</strong>
  <%= @general_spec.bore_stroke %>
</p>

<p>
  <strong>Cooling:</strong>
  <%= @general_spec.cooling %>
</p>

<p>
  <strong>Compression ratio:</strong>
  <%= @general_spec.compression_ratio %>
</p>

<p>
  <strong>Fuel system:</strong>
  <%= @general_spec.fuel_system %>
</p>

<p>
  <strong>Ignition:</strong>
  <%= @general_spec.ignition %>
</p>

<p>
  <strong>Starting system:</strong>
  <%= @general_spec.starting_system %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @general_spec.transmission %>
</p>

<p>
  <strong>Final drive:</strong>
  <%= @general_spec.final_drive %>
</p>

<p>
  <strong>Rake trail:</strong>
  <%= @general_spec.rake_trail %>
</p>

<p>
  <strong>Seat height:</strong>
  <%= @general_spec.seat_height %>
</p>

<p>
  <strong>Wheelbase:</strong>
  <%= @general_spec.wheelbase %>
</p>

<p>
  <strong>Front suspension:</strong>
  <%= @general_spec.front_suspension %>
</p>

<p>
  <strong>Rear suspension:</strong>
  <%= @general_spec.rear_suspension %>
</p>

<p>
  <strong>Front brake:</strong>
  <%= @general_spec.front_brake %>
</p>

<p>
  <strong>Rear brake:</strong>
  <%= @general_spec.rear_brake %>
</p>

<p>
  <strong>Front tire:</strong>
  <%= @general_spec.front_tire %>
</p>

<p>
  <strong>Rear tire:</strong>
  <%= @general_spec.rear_tire %>
</p>

<p>
  <strong>Fuel capacity:</strong>
  <%= @general_spec.fuel_capacity %>
</p>

<p>
  <strong>Dry weight:</strong>
  <%= @general_spec.dry_weight %>
</p>

<p>
  <strong>Msrp:</strong>
  <%= @general_spec.msrp %>
</p>

<%= link_to 'Edit', edit_general_spec_path(@general_spec) %> |
<%= link_to 'Back', general_specs_path %>
