<%= error_messages_for(@admin_user) %>

<table summary="Admin user form fields">
  <!--<tr>-->
    <!--<th><%#= f.label(:first_name, "First Name") %></th>-->
    <!--&lt;!&ndash; , "First Name" only necessary if you want the label to be something different&ndash;&gt;-->
    <!--<td><%#= f.text_field(:first_name) %></td>-->
  <!--</tr>-->
  <tr>
    <th><%= f.label(:email) %></th>
    <td><%= f.text_field(:email) %></td>
  </tr>

  <tr>
    <th><%= f.label(:encrypted_password) %></th>
    <td><%= f.password_field(:encrypted_password) %></td>
  </tr>
</table>