<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vehicle.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @vehicle.active %>
</p>

<p>
  <strong>Position:</strong>
  <%= @vehicle.position %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @vehicle.manufacturer_id %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
