<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @manufacturer.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @manufacturer.active %>
</p>

<p>
  <strong>Position:</strong>
  <%= @manufacturer.position %>
</p>

<%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %> |
<%= link_to 'Back', manufacturers_path %>
