<!DOCTYPE html>
<html>
<head>
  <title>Motoalmanac</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/navigation' %>
    <div class="main-page-content <%= controller.controller_name %>">

      <%= yield %>

    </div>
</body>
</html>