<!DOCTYPE html>
<html>
    <head>
        <title>MotoAlmanac<%= " | #{@page_title} " if @page_title %></title>
        <%= stylesheet_link_tag('application', :media => 'all') %>
    </head>
    <body>
     <div id="header">
        <h1>MotoAlmanac</h1>
     </div>
     <div id="main">
       <div id="navigation">
         <%= render(:partial => 'layouts/navigation'#, :locals => {:subjects => @subjects}
             ) %>
       </div>
       <div id="content">
         <%= yield %>
       </div>
       <div class="clear">

       </div>
     </div>
     <div id="footer">
       <p id="copyright"> &copy; MotoAlmanac</p>
     </div>
    </body>
</html>
